
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

:root {
    font-size:  16px;
    font-family: 'Roboto', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 500ms;
}

body {
    margin: auto;
    color: black;
    background-color:#353240;
}

body::-webkit-scrollbar {
    width: 0.35rem;
  }
  
body::-webkit-scrollbar-track {
    background: #0ff0fc;
}
  
body::-webkit-scrollbar-thumb {
    background: #23232e;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 4rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 270ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}


.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
}


.link-text {
    display: none;
}


.nav-link svg {
    min-width: 2rem;
    width: 2rem;
    margin: 0 1rem;
}

.navbar:hover {
    width: 15rem;
}

.navbar:hover .link-text {   
    display: block;
}

.logo {

    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.4rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-540deg);
}