<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketPlace</title>
    <%- include("../partials/head");  %>
    <link rel="stylesheet" href="/stylesheets/marketplace.css">
</head>
<body>
    <%- include("../partials/nav.ejs"); %>
    <main>
        <div class="market-container">
            <a href="/marketplace/sell">Sell Cards</a>
            <a href="/marketplace/buy">Purchase Cards</a>
            <a href="/marketplace/auctions/create">Pace Auction</a>
            <a href="/marketplace/auctions">Auctions</a>
        </div>
    </main>
</body>

</html>